:root {
  --base: #eff1f3;
  --primary: #565554;
  --tint1: #1f01b9;
  --tint2: #b4e33d;
  --tint3: #2e86ab;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

* {
  font-family: Cambria, Georgia, serif;
  background-color: var(base);
  color: #000;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 15vh 2fr 15vh;
}

header {
  grid-column: 1 / -1;
  background-color: var(--base);

  display: grid;
  grid-template-rows: 2fr 1fr;

  background-color: var(--primary);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header nav a p {
  font-family: "Noto Sans KR", sans-serif;
}

main {
  grid-column: 1 / -1;
  background-color: var(--base);

  height: 100vh;
}

footer {
  grid-column: 1 / -1;
  background-color: var(--primary);
}
