/* INITIALIZE  */

:root {
  --base: #eff1f3;
  /* --primary: #565554; */
  /* --primary: #efd6d2; */
  --primary: #d2ba92;
  --tint1: #1f01b9;
  --tint2: #b4e33d;
  --tint3: #2e86ab;
  --border: #565554;
}

.size-preset1 {
  height: 30rem;
  width: 25rem;
}
.size-preset-auto {
  height: auto;
  width: auto;
}
.size-preset-showcase {
  height: 15rem;
  width: 25rem;
}

/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: 'Patua One', cursive; */
/* font-family: "Roboto", sans-serif; */

* {
  font-family: "Roboto", sans-serif;
  background-color: var(--base);
  color: var(--border);
  padding: 0;
  margin: 0;
}

input {
  background-color: transparent;
  border: 0px solid;
}

a {
  text-decoration: none;
}

.icon {
  height: 24px !important;
  width: 24px !important;
}
.icon2 {
  height: 68px;
  width: 68px;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 15vh auto auto;

  min-height: 130rem;
}

/* HEADER */

header {
  grid-column: 1 / -1;
  background-color: var(--base);

  display: grid;
  grid-template-rows: 2fr 1fr;

  background-color: var(--base);
}
header * {
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  align-self: center;
}
header div {
  display: flex;

  background-color: var(--base);
}
header div h1 {
  justify-self: center;
  font-size: 2.5rem;
}
header img {
  height: 5rem;
  padding-left: 20rem;
  padding-right: 2rem;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
}
header nav * {
  background-color: var(--primary);
}

/* MAIN */

main {
  grid-column: 1 / -1;
  background-color: var(--base);
  /* border: 2px solid black; */

  display: grid;
  grid-template-rows: 1fr 1px 2fr;
  height: 100vh;
}

/* SHOWCASE */

/* .showcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.showcase img {
  border: 1px solid #000;
  border-radius: 0.5rem;
} */

.showcase {
  width: 800px;
  height: 533px;

  margin: 2rem auto;
  border: 1px solid var(--border);

  background-image: url(/media/real-estate/real-estate1.jpg);
  animation: slide 15s infinite;
}

@keyframes slide {
  30% {
    background-image: url(/media/real-estate/real-estate2.jpg);
  }
  60% {
    background-image: url(/media/real-estate/real-estate3.jpg);
  }
  100% {
    background-image: url(/media/real-estate/real-estate1.jpg);
  }
}

/* BOX 1 */

.box-1 {
  grid-row: 3;

  padding-top: 5rem;
  padding-bottom: 5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* SEARCH */

.search {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 25rem;
  background-color: var(--tint2);
  border: 1px solid #000;
}
.search img {
  height: 20rem;
  width: 25rem;
}
.search-bar {
  align-self: flex-end;
  height: 5rem;
  width: 25rem;
  background-color: var(--base);
  border: 1px solid var(--border);

  display: flex;
  align-items: center;
}
.search-bar * {
  padding-right: 1rem;
  padding-left: 1rem;
}

.search-bar input {
  padding: 0;
  height: 2rem;
  width: 20vw;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-align: center;

  height: 25rem;
  width: 25rem;
  border: 1px solid var(--border);
  background-color: var(--tint2);
}
.about * {
  font-family: "Noto Sans KR", sans-serif;
}
.about img {
  height: 20rem;
  width: 25rem;
}
.about button {
  display: block;
  height: 5rem;

  background-color: var(--base);
  border: 1px solid var(--border);
}

/* CONTACT */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 25rem;
  width: 25rem;
  border: 1px solid var(--border);
  background-color: var(--tint2);
}
.contact * {
  padding-right: 1rem;
  padding-left: 1rem;
}
.contact img {
  width: 25rem;
  height: 17.5rem;

  padding: 0;
}
.contact a {
  display: flex;
  align-items: center;

  height: 2.5rem;

  border: 1px solid var(--border);
  background-color: var(--base);
}

/* FOOTER */

footer {
  grid-column: 1 / -1;
  background-color: var(--primary);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5rem;
}
footer * {
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  background-color: var(--primary);
}

/* CONTACT MENU */

.contact-menu {
  grid-column: 1;
  grid-row: 1;

  padding: 1rem;
  padding-left: 5rem;

  display: flex;
  flex-direction: column;
}
.contact-menu h2 {
  padding-bottom: 2rem;
}

.contact-menu input {
  background-color: var(--base);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
}
.contact-menu textarea {
  background-color: var(--base);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
}

.send {
  width: 5rem !important;
}

/* FOOTER LIST */

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem;
}
.footer-list a {
  padding-bottom: 3rem;
}

/* SOCIAL FOOTER*/

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
}
.socials div {
  border: 5px solid var(--border);
  border-radius: 1rem;

  padding: 1rem;
  width: 15rem;
}
.socials a {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

/* COPYRIGHT */

.ab {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
